/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.container{
  width: 1080px;
  background-color: white;
  margin: auto;
}


/* HEADER */
header{
  background-color: white;
  padding: 15px 25px;
  margin-bottom: 55px;
}

header img{
  vertical-align: middle;
  width: 65px;
}

header span{
  font-size: 3em;
  font-weight: 700;
  vertical-align: middle;
}


/* MAIN */

/* CONTAINER BUTTONS */
main .buttons{
  padding: 15px 60px;
  margin-bottom: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main .buttons button{
  padding: 8px 13px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(202, 202, 202);
  background-color: white;
  border: 2px solid rgb(202, 202, 202);
  margin-left: 5px;
}

main .buttons button:hover{
    color: white;
    background-color: rgb(83, 194, 238);
    border: none;
}

/* CONTAINER LIST */
main .list {
  padding: 60px 60px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 25px;
}

main .list section{
  margin-bottom: 40px;
}

main .list section span{
  font-size: 1.2em;
  color: rgb(91, 100, 100);
  line-height: 42px;
}

main .list h2{
  color: rgb(68, 78, 78);
  margin-bottom: 8px;
}

main .list h2:before{
  content: '\25bc';
  color: rgb(68, 78, 78);
}

main .list .check:before{
  font-size: 1.2em;
  padding: 5px;
}

main .list .check.done:before{
  content: '\2611';
  color: rgb(106, 194, 146);
}

main .list .check.not-done:before{
  content: '\2612';
  color: rgb(238, 130, 130);
}

main .list .badge{
  color: white;
  font-size: 12px;
  padding: 8px 13px;
  border-radius: 13px;
}

/* BADGE COLORS */
.blue{
  background-color: rgb(73, 178, 219);
}

.purple{
  background-color: rgb(135, 84, 192);
}

.cyan{
  background-color: rgb(68, 190, 170);
}

.orange{
  background-color: rgb(231, 131, 65);
}

.pink{
  background-color: rgb(247, 70, 202);
}

.green{
  background-color: rgb(147, 212, 104);
}
